<?xml version="1.0" encoding="GB2312"?>
<config>
	<RDB>//关系数据库表
        <type>mysql</type>//数据库类型
        <address>127.0.0.1:3306</address>//地址
        <username>root</username>//用户名
        <password>111111</password>//密码
        <databases>//一个数据库地址包含多个database
            <database>//一个database包含多个table,每个表都要设置同步到哪里
                <name>WebDevelopment</name>
                <tables>
                    <table>
                        <tablename>Merchant</tablename>//要同步的表
                        <sync>Merchant</sync>//同步到HBASE的哪个表中
                        <timespace>2016/3/11 12:31:30 -- 2016/3/21 12:31:20</timespace>//同步的时间段
                    </table>
                    <table>
                        <tablename>Customer</tablename>//要同步的表
                        <sync>Customer</sync>//同步到HBASE的哪个表中
                        <timespace>2016/3/11 12:31:30 -- 2016/3/21 12:31:20</timespace>//同步的时间段
                    </table>
                </tables>
            </database>
        </databases>
	</RDB>
	<HBASE>
		<address>127.0.0.1:6666</address>
		<username>admin</username>
		<password>111111</password>
	</HBASE>
</config>

<!-- log4j写日志 -->
<!-- 日志:  从trigger表写入logTable的log: 时间,表,action,成功与否,命令行输出 -->
<!-- 日志:  从middleFile写入hbase的log: 时间,文件中的id,成功与否,命令行输出 -->
<!-- 测试: 一个可执行sql改变文件,可以查看的中间文件和log -->
<!-- 运行截屏或者截图 -->
<!-- 打包,日志详情 -->